<%- include header %>
<%- include headerbar %>
<div class="row">
    <%- include menu %>
    <div class="col-md-10 col-sm-9">
        <form method="post" action="/modify">
            标题：<br>
            <input type="text" readonly="readonly" name="title" value="<%= edit[0].title%>"> <input class="col-md-offset-6" type="submit" value="修改">
            <br> <sapn class="timeNow"></sapn>
            正文：<br>
            <textarea name="post" cols="100" rows="20"><%= edit[0].post%></textarea><br>
        </form>
    </div>
</div>
<%- include footer %>