<%- include header %>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">你好:<b><%= name%></b></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">设置 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="row">
    <div class="col-sm-3 col-md-2 ">
        <ul class="nav nav-sidebar">
            <li>
                <a auto="active" href="/post">发表博客</a>
            </li>
            <li>
                <a auto="active" href="/my_post">我的博客</a>
            </li>
            <li>
                <a auto="active" href="/my_guanzhu">我的关注</a>
            </li>
        </ul>
    </div>
    <div class="col-md-10">
        <div class="list-group">
            <% titles.forEach(function(title, index){ %>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading"><%= title.title%></h4>
                <span class="badge">作者:<%= title.name%></span>
                <p class="list-group-item-text" style="overflow: hidden"><%= title.post%></p>
            </a>
            <% })%>
        </div>
        <nav>
            <ul class="pager">
                <li><a href="#">Previous</a></li>
                <li><a id="nextPage" href="">Next</a></li>
            </ul>
        </nav>
    </div>
</div>

<%- include footer %>






