<%- include header %>
<%- include headerbar %>
<div class="row">
    <%- include menu%>
    <div class="col-md-10 col-sm-9">
        <ul class="list-group">
            <% titles.forEach(function(title, index){ %>
            <li href="#" class="list-group-item pageAllItem">
                <a href="/delete/<%= title.name%>/<%= title.title%>" class="badge delete">删除</a>
                <a href="/edit/<%= title.name%>/<%= title.title%>" class="badge edit" >编辑</a>
                <a href="/detail/<%= title.name%>/<%= title.title%>"><%= title.title%></a>
            </li>
            <% })%>
        </ul>
        <nav>
            <ul class="pager">
                <li ><a class="btn" id="prePage">上一页</a></li>
                <li ><a class="btn" id="nextPage">下一页</a></li>
            </ul>
        </nav>
    </div>
</div>
<script src="/javascripts/mypost.js"></script>
<%- include footer %>






