<%- include header %>
<%- include headerbar %>
<div class="row">
    <%- include menu%>
    <div class="col-md-10">
        <div class="list-group">
            <% titles.forEach(function(title, index){ %>
            <a href="#" class="list-group-item" id="pageAllItem">
                <h4 class="list-group-item-heading"><%= title.title%></h4>
                <span class="badge">作者:<%= title.name%></span>
                <p class="list-group-item-text" style="overflow: hidden"><%= title.post%></p>
            </a>
            <% })%>
        </div>
        <nav>
            <ul class="pager">
                <li ><a class="btn" id="prePage">上一页</a></li>
                <li ><a class="btn" id="nextPage">下一页</a></li>
            </ul>
        </nav>
    </div>
</div>
<script src="/javascripts/mypost.js"></script>
<%- include footer %>






